In [2]:
import pandas as pd
df = pd.read_csv('../data/raw/sample_listings.csv')
df['gross_yield'] = (df['rent']*12) / df['price']
display(df[['city','price','rent','gross_yield']])
print('Avg gross yield:', f"{df['gross_yield'].mean():.2%}")

           city   price  rent  gross_yield
0      Columbus  180000  1500     0.100000
1       Phoenix  320000  2200     0.082500
2       Atlanta  250000  1800     0.086400
3         Tampa  290000  2100     0.086897
4  Indianapolis  200000  1550     0.093000

Avg gross yield: 8.98%

In [ ]:
df.shape, df.dtypes
df.head(3); df.tail(3)

In [ ]:
df.isna().sum()

In [ ]:
df.describe(numeric_only=True)

In [ ]:
import matplotlib.pyplot as plt
df['price'].plot(kind='hist', bins=10, title='Price'); plt.show()
df['rent'].plot(kind='hist', bins=10, title='Rent'); plt.show()
df['gross_yield'].plot(kind='hist', bins=10, title='Gross Yield'); plt.show()
df.plot(kind='scatter', x='price', y='rent', title='Price vs Rent'); plt.show()

In [ ]:
print("Top 3 by gross_yield")
display(df.sort_values('gross_yield', ascending=False).head(3)[['city','price','rent','gross_yield']])

print("Bottom 3 by gross_yield")
display(df.sort_values('gross_yield', ascending=True).head(3)[['city','price','rent','gross_yield']])

In [3]:
from pathlib import Path
Path('../data/processed').mkdir(parents=True, exist_ok=True)
df.to_csv('../data/processed/sample_listings_proc.csv', index=False)
print("Saved to ../data/processed/sample_listings_proc.csv")

Saved to ../data/processed/sample_listings_proc.csv